// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~sweetalert2/src/sweetalert2';
@import 'pg-init/agency.scss';
@import '~bootstrap/scss/bootstrap';

.text-blue {
    color: $blue;
}

.blue {
    color: $blue;
}

.indigo {
    color: $indigo;
}

.purple {
    color: $purple;
}

.pink {
    color: $pink;
}

.red {
    color: $red;
}

.orange {
    color: $orange;
}

.yellow {
    color: $yellow;
}

.green {
    color: $green;
}

.teal {
    color: $teal;
}

.cyan {
    color: $cyan;
}